<?xml version="1.0"?>
<!-- 
    Nota: come alternativa alla modifica manuale del file, è possibile utilizzare lo 
    strumento di amministrazione Web per configurare le impostazioni dell'applicazione. Utilizzare il comando 
    Configurazione ASP.NET del menu Sito Web di Visual Studio.
    Un elenco completo di impostazioni e commenti è disponibile nel file 
    machine.config.comments che si trova in genere in   
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <sectionGroup name="fiftyOne">
      <section name="log" type="FiftyOne.Foundation.Mobile.Configuration.LogSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
      <section name="redirect" type="FiftyOne.Foundation.Mobile.Configuration.RedirectSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
      <section name="detection" type="FiftyOne.Foundation.Mobile.Detection.Configuration.DetectionSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
    </sectionGroup>
  </configSections>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Data Cache Storage"/>
    </cacheManagers>
    <backingStores>
      <add name="Data Cache Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.Database.DataBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching.Database, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" encryptionProviderName="" databaseInstanceName="MagentoCache" partitionName="cachemagento"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore"/>
    </backingStores>
  </cachingConfiguration>
  <dataConfiguration defaultDatabase="MagentoCache"/>
  <fiftyOne>
    <redirect timeout="20" firstRequestOnly="false" mobileHomePageUrl="~/Mobile/Default.aspx" mobilePagesRegex="/(Mobile|Tablet)/">
      <!--<locations>
        <clear />
        <location name="noredirect" url="" matchExpression="" enabled="true">
          <add property="Url" matchExpression="[&amp;|\?]noredirect" enabled="true" />
        </location>
        <location name="Tablet" url="~/Tablet/Default.aspx" matchExpression=""
          enabled="true">
          <add property="IsTablet" matchExpression="true" enabled="true" />
        </location>
      </locations>-->
    </redirect>
    <log logFile="~/Log.txt" logLevel="Info"/>
    <detection binaryFilePath="~/App_Data/data.bin"/>
  </fiftyOne>
  <appSettings>
    <add key="SELLACODE" value="9017070"/>
    <add key="pathFotoNews" value="~/img/foto/"/>
    <add key="standardFotoName" value="standard.jpg"/>
    <add key="pathAllegatiNews" value="~/public/allegati/"/>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="pathSocial" value="~/public/templates/social.html"/>
    <add key="apiUrl" value="http://www.zoom2cart.com/api/xmlrpc"/>
    <add key="apiUser" value="ws_user"/>
    <add key="apiPsw" value="123456"/>
    <add key="pathTemplateShopVerde" value="~/public/templates/template_menuShopVerde.html"/>
    <add key="pathTemplatemShopVerde" value="~/public/templates/template_menumShopVerde.html"/>
    <add key="pathTemplateShopRosso" value="~/public/templates/template_menuShopRosso.html"/>
    <add key="pathTemplatemShopRosso" value="~/public/templates/template_menumShopRosso.html"/>
    <add key="pathTemplateMail" value="~/public/templates/template_nl.html"/>
    <add key="it.sella.testecomm.WSCryptDecrypt" value="https://testecomm.sella.it/gestpay/gestpayws/WSCryptDecrypt.asmx"/>
    <add key="MainMailAddress" value="info@materarredamenti.it"/>
    <add key="MainMailAlias" value="Shop Matera Arredamenti"/>
    <add key="it.sella.ecomms2s.WSCryptDecrypt" value="https://ecomms2s.sella.it/gestpay/gestpayws/WSCryptDecrypt.asmx"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="MagentoCache" connectionString="Data Source=.;Initial Catalog=Caching;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="MagentoCache" connectionString="Data Source=8cafa3c8-3a7a-43e8-ab7f-a41000a37a96.sqlserver.sequelizer.com;User ID=wlrwwsclmqfisgsq;Password=ZAcPQmUcF4eb58pZwSk3UBCMevqUVNco5r26xnHPNMu7MeDDyt77dY3w7xJt58oZ;database=db8cafa3c83a7a43e8ab7fa41000a37a96" providerName="System.Data.SqlClient"/>-->
    <add name="MagentoCache" connectionString="Data Source=ind4y0fgc8.database.windows.net,1433;Initial Catalog=Caching;User ID=peppe;Password=pa$$w0rd" providerName="System.Data.SqlClient"/>
    <add name="AccessFileName" connectionString="~/App_Data/ASPNetDB.mdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString" connectionString="Data Source=ind4y0fgc8.database.windows.net,1433;Initial Catalog=materadb;User ID=peppe;Password=pa$$w0rd" providerName="System.Data.SqlClient"/>
    <add name="_ConnectionString" connectionString="Data Source=vy5e799jkl.database.windows.net;Initial Catalog=MateraArredamenti;User ID=peppe;Password=pa$$w0rd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <membership defaultProvider="AccessMembershipProvider">
      <providers>
        <clear/>
        <add name="AccessMembershipProvider" connectionStringName="AccessFileName" applicationName="/" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" type="Samples.AccessProviders.AccessMembershipProvider"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AccessRoleProvider" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="AccessRoleProvider" type="Samples.AccessProviders.AccessRoleProvider, SampleAccessProviders" connectionStringName="AccessFileName" applicationName="/"/>
      </providers>
    </roleManager>
    <profile defaultProvider="AccessProfileProvider">
      <providers>
        <clear/>
        <add name="AccessProfileProvider" connectionStringName="AccessFileName" type="Samples.AccessProviders.AccessProfileProvider, SampleAccessProviders" applicationName="/"/>
      </providers>
    </profile>
    <!-- Chiave per gestire l'encrypt -->
    <machineKey validationKey="D29AE627F3311079970B6B8DAA11C76F4C4919B886D3BBDFDDEE6A9C7BA0C7C545DA83B9CCA27F572B2EE9BE78C6FBCE7D1209C3CC0DBA7005FED524CA8DEF71" decryptionKey="2016BB366F81078E8630C072147C29B5798B0FCE78ED4E3B574376A52B886C0E" validation="SHA1" decryption="AES"/>
    <!-- 
            Impostare compilation debug="true" per inserire i 
            simboli di debug nella pagina compilata. Poiché tale
            operazione ha effetto sulle prestazioni, impostare questo valore su true 
            solo durante lo sviluppo.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            La sezione <authentication> consente di configurare 
            la modalità di autenticazione della sicurezza utilizzata da 
            ASP.NET per identificare un utente in ingresso. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login.aspx"/>
    </authentication>
    <!--
            La sezione <customErrors> consente di configurare 
            l'operazione da eseguire in caso di errore non gestito 
            durante l'esecuzione di una richiesta. In particolare, 
            consente agli sviluppatori di configurare le pagine di errore HTML 
            in modo che vengano visualizzate al posto dell'analisi dello stack dell'errore.
 -->
    <customErrors mode="Off"/>
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="peppPager" assembly="WebApplication1" tagPrefix="peppPager"/>
      </controls>
    </pages>
    <httpModules>
      <!--<add name="Detector" type="FiftyOne.Foundation.Mobile.Detection.DetectorModule, FiftyOne.Foundation"/>-->
      <!--<add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter"/>-->
    </httpModules>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="web@materarredamenti.it">
        <network host="smtp.materarredamenti.it" password="web" userName="web@materarredamenti.it"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules>
      <add name="Detector" type="FiftyOne.Foundation.Mobile.Detection.DetectorModule, FiftyOne.Foundation"/>
      <!--<add name="ModuleRewriter" type="URLRewriter.ModuleRewriter, URLRewriter" />-->
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <qualifyAssembly partialName="Microsoft.Practices.EnterpriseLibrary.Data" fullName="Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </assemblyBinding>
  </runtime>
</configuration>
